@page "/counter"

<Protector>
    <Child>
        <h1>Counter</h1>

        <p>Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Child>
</Protector>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    [Inject]
    public Authentication Authentication { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string currentRoute = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        await Authentication.LockRoute(currentRoute);
    }

}
